@using IdentityFrameworkSportsstore.Models.Domain;

@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h2>@ViewData["Title"]</h2>
<form>
    <div class="form-inline">
        <div class="form-group">
            <select id="categoryId" class="form-control" name="categoryId" asp-items="@(ViewData["Categories"] as SelectList)">
                <option value="0">--all categories--</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a asp-action="Create" class="btn btn-default">New Product</a>
    </div>
</form>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th class="text-right">Price</th>
        <th class="text-center">In Stock</th>
        <th>Availability</th>
        <th></th>
    </tr>
    @{
        foreach (var item in Model) {
            <tr>
                <td>@(item.Name)</td>
                <td>@(item.Description)</td>
                <td class="text-right">@(item.Price) &euro;</td>
                <td class="text-center">
                    <input type="checkbox" @(item.InStock ? "checked" : "") disabled="disabled" />
                </td>
                <td>@(IdentityFrameworkSportsstore.Helpers.EnumHelpers.GetDisplayName<Availability>(item.Availability))</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@(item.ProductId)">Edit</a>|
                    <a asp-action="Delete" asp-route-id="@(item.ProductId)">Delete</a>
                </td>
            </tr>
        }
    }
</table>

